---
images:
- name: linuxserver/tautulli
  newName: lscr.io/linuxserver/tautulli
  newTag: version-v2.15.3
labels:
- pairs:
    "app.kubernetes.io/name": tautulli
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
