apiVersion: v1
kind: Secret
metadata:
  name: paperless-ngx-secrets
  namespace: home-network
type: Opaque
stringData:
  PAPERLESS_ADMIN_USER: "admin"
  PAPERLESS_ADMIN_PASSWORD: "adminpassword"
  PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
    {
      "openid_connect": {
        "APPS": [
          {
            "provider_id": "authentik",
            "name": "Authentik",
            "client_id": "paperless-ngx",
            "secret": "CHANGEME",
            "settings": {
              "server_url": "https://auth.services.home.yrf.me/application/o/paperless-ngx/"
            }
          }
        ],
        "OAUTH_PKCE_ENABLED": true
      }
    }
