apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore
type: Opaque
stringData:
  objstore.yml: |-
    type: s3
    config:
      bucket: thanos
      endpoint: ""
      access_key: ""
      secret_key: ""
      insecure: false
