---
images:
- name: linuxserver/overseerr
  newName: lscr.io/linuxserver/overseerr
  newTag: version-v1.35.0
labels:
- pairs:
    "app.kubernetes.io/name": overseerr
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
