---
images:
- name: cloudflare/cloudflared
  newTag: 2026.1.1
resources:
- "ocirepository.yaml"
- "helm-crds.yaml"
- "helm.yaml"
- "helm-external.yaml"
- "ciliumnetworkpolicy.yaml"
- "cloudflare-tunnel/deployment.yaml"
- "cloudflare-tunnel/tunnel-token.sealed.yaml"
- "dashboard/middlewares.yaml"
- "dashboard/services.yaml"
- "dashboard/httproute.yaml"
- "dashboard/healthcheck.yaml"
- "persistentvolumeclaim.yaml"
configurations:
- "kustomizeconfig.yaml"
configMapGenerator:
- name: traefik-configs
  files:
  - "config/crowdsec-bouncer.yaml"
