---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: traefik-crds
  namespace: traefik
spec:
  interval: 24h
  url: oci://harbor.services.home.yrf.me/chartproxy/helm.traefik.io/traefik/traefik-crds
  ref:
    tag: 1.13.1
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: traefik-chart
  namespace: traefik
spec:
  interval: 24h
  url: oci://harbor.services.home.yrf.me/chartproxy/helm.traefik.io/traefik/traefik
  ref:
    tag: 37.4.0
