---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: traefik-crds
  namespace: traefik
spec:
  interval: 24h
  url: oci://harbor.services.home.yrf.me/chartproxy/helm.traefik.io/traefik/traefik-crds
  ref:
    tag: 1.5.0
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: traefik-chart
  namespace: traefik
spec:
  interval: 24h
  url: oci://harbor.services.home.yrf.me/chartproxy/helm.traefik.io/traefik/traefik
  ref:
    tag: 35.0.0
