---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-plugins
  labels:
    app.kubernetes.io/name: traefik
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: cephfs
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
