---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- pairs:
    app.kubernetes.io/version: "2024.11.1"
  includeTemplates: true
  includeSelectors: false
images:
- name: homeassistant/home-assistant
  newTag: "2025.8.1"
- name: ghcr.io/home-assistant-libs/python-matter-server
  newTag: "8.0.0"
resources:
- statefulset.yaml
- service.yaml
- persistentvolumeclaim.yaml
- networkattachmentdefinition.yaml
- httproute.yaml
- networkpolicy.yaml
- backup-credentials.sealed.yaml
patches: []
configMapGenerator:
- name: homeassistant-docker-venv
  files:
  - venv-run
