---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: homeassistant/home-assistant
  newName: ghcr.io/home-assistant/home-assistant
  newTag: &hass-version "2026.2.3"
- name: ghcr.io/home-assistant-libs/python-matter-server
  newTag: "8.1.0"
resources:
- statefulset.yaml
- service.yaml
- persistentvolumeclaim.yaml
- networkattachmentdefinition.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
- backup-credentials.sealed.yaml
patches: []
configMapGenerator:
- name: homeassistant-docker-venv
  files:
  - venv-run
labels:
- pairs:
    app.kubernetes.io/version: *hass-version
  includeTemplates: true
  includeSelectors: false
