defaults
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

frontend http
	bind :8080
	default_backend stats

backend stats
	mode http

	stats enable
	stats uri /
	stats refresh 1s
	stats show-legends

frontend redis-write
	bind *:6379
	default_backend redis-primary

frontend redis-read
    bind *:6380
    default_backend redis-online

backend redis-primary
	mode tcp
	balance first
    option tcp-check

    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
	tcp-check send QUIT\r\n
	tcp-check expect string +OK

    default-server inter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    server-template redis 3 redis-ha-headless.home-network.svc.cluster.local:6379 check resolvers default init-addr none maxconn 1024


backend redis-online
	mode tcp
	balance roundrobin
	option tcp-check

	tcp-check send PING\r\n
	tcp-check expect string +PONG
	tcp-check send QUIT\r\n
	tcp-check expect string +OK

    default-server inter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    server-template redis 3 redis-ha-headless.home-network.svc.cluster.local:6379 check resolvers default init-addr none maxconn 1024
