apiVersion: v1
kind: Secret
metadata:
  name: authentik-secrets
  namespace: home-network
type: Opaque
stringData:
  SECRET_KEY: "secret-key-goes-here"
  EMAIL__HOST: "smtp.example.com"
  EMAIL__PORT: "587"
  EMAIL__USERNAME: "example@example.com"
  EMAIL__PASSWORD: "some-password-here"
  EMAIL__USE_TLS: "true"
  EMAIL__USE_SSL: "false"
  EMAIL__FROM: "example@example.com"
