---
images:
- name: linuxserver/sonarr
  newName: lscr.io/linuxserver/sonarr
  newTag: version-4.0.16.2944
labels:
- pairs:
    "app.kubernetes.io/name": sonarr
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
