---
images:
- name: linuxserver/radarr
  newName: lscr.io/linuxserver/radarr
  newTag: version-6.0.4.10291
labels:
- pairs:
    "app.kubernetes.io/name": radarr
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
