---
images:
- name: linuxserver/prowlarr
  newName: lscr.io/linuxserver/prowlarr
  newTag: version-2.3.0.5236
labels:
- pairs:
    "app.kubernetes.io/name": prowlarr
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
