---
images:
- name: ipfs/kubo
  newTag: v0.38.2
labels:
- pairs:
    "app.kubernetes.io/name": ipfs-kubo
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- ciliumnetworkpolicy.yaml
- ipfs-api-httproute.yaml
- ipfs-gateway-cert.yaml
- ipfs-gateway-gateway.yaml
- ipfs-gateway-httproute.yaml
