---
images:
- name: linuxserver/lidarr
  newName: lscr.io/linuxserver/lidarr
  newTag: version-3.1.0.4875
labels:
- pairs:
    "app.kubernetes.io/name": lidarr
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
