---
images:
- name: linuxserver/calibre
  newName: lscr.io/linuxserver/calibre
  newTag: version-v9.3.1
labels:
- pairs:
    "app.kubernetes.io/name": calibre
  includeTemplates: true
  includeSelectors: true
resources:
- statefulset.yaml
- service.yaml
- httproute.yaml
- ciliumnetworkpolicy.yaml
- okinawa-media-books.yaml
