---
# proxmox
customization:
  extraKernelArgs:
  - net.ifnames=0
  systemExtensions:
    officialExtensions:
    - siderolabs/binfmt-misc
    - siderolabs/ctr
    - siderolabs/fuse3
    - siderolabs/gvisor
    - siderolabs/iscsi-tools
    - siderolabs/kata-containers
    - siderolabs/nvme-cli
    - siderolabs/qemu-guest-agent
    - siderolabs/youki
---
# proxmox-amdgpu
customization:
  extraKernelArgs:
  - net.ifnames=0
  systemExtensions:
    officialExtensions:
    - siderolabs/amdgpu
    - siderolabs/binfmt-misc
    - siderolabs/ctr
    - siderolabs/fuse3
    - siderolabs/gvisor
    - siderolabs/iscsi-tools
    - siderolabs/kata-containers
    - siderolabs/nvme-cli
    - siderolabs/qemu-guest-agent
    - siderolabs/youki
---
# proxmox-i915
customization:
  extraKernelArgs:
  - net.ifnames=0
  systemExtensions:
    officialExtensions:
    - siderolabs/binfmt-misc
    - siderolabs/ctr
    - siderolabs/fuse3
    - siderolabs/gvisor
    - siderolabs/i915
    - siderolabs/iscsi-tools
    - siderolabs/kata-containers
    - siderolabs/nvme-cli
    - siderolabs/qemu-guest-agent
    - siderolabs/youki
---
# proxmox-nvidia
customization:
  extraKernelArgs:
  - net.ifnames=0
  systemExtensions:
    officialExtensions:
    - siderolabs/binfmt-misc
    - siderolabs/ctr
    - siderolabs/fuse3
    - siderolabs/gvisor
    - siderolabs/iscsi-tools
    - siderolabs/kata-containers
    - siderolabs/nvidia-container-toolkit-production
    - siderolabs/nvidia-open-gpu-kernel-modules-production
    - siderolabs/nvme-cli
    - siderolabs/qemu-guest-agent
    - siderolabs/youki
---
# rpi
overlay:
  image: siderolabs/sbc-raspberrypi
  name: rpi_generic
customization:
  extraKernelArgs:
  - net.ifnames=0
  systemExtensions:
    officialExtensions:
    - siderolabs/ctr
    - siderolabs/fuse3
    - siderolabs/gvisor
    - siderolabs/iscsi-tools
    - siderolabs/kata-containers
    - siderolabs/nvme-cli
    - siderolabs/vc4
    - siderolabs/youki
