---
name: mirror-repository
on:
  push:
    branches:
    - master
jobs:
  push-to-forgejo:
    runs-on: ubuntu-latest
    # Only run this on GitHub.
    if: contains(github.server_url, 'github.com')
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: yesolutions/mirror-action@master
      with:
        REMOTE: "https://git.yrf.me/rf-homelab/infrastructure-gitops.git"
        GIT_USERNAME: github-sync
        GIT_PASSWORD: ${{ secrets.RF_FORGEJO_TOKEN }}
        PUSH_ALL_REFS: "false"
        GIT_PUSH_ARGS: "--tags"
